
/* Styles for mobile viewport */
@media only screen and (max-width: 600px) {
    .mobile {
        header {
            text-align: center;
        }

        .navbar ul {
            margin-top: 10px;
        }

        .navbar ul li {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .navbar ul li a {
            display: block;
            margin: 0 auto;
        }
    }
}

/* Styles for tablet viewport */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .tablet {
        header {
            text-align: center;
        }

        nav {
            position: static;
            display: block;
            text-align: center;
            margin-top: 10px;
        }

        .navbar ul {
            margin-top: 10px;
        }

        .navbar ul li {
            display: inline;
            margin-right: 20px;
        }
    }
}

/* Styles for desktop viewport */
@media only screen and (min-width: 1024px) {
    .desktop {
        header {
            text-align: center;
        }

        nav {
            position: static;
            display: block;
            text-align: center;
            margin-top: 20px;
        }

        .navbar ul {
            margin-top: 20px;
        }

        .navbar ul li {
            display: inline;
            margin-right: 35px;
        }
    }
}

