.team {
    padding: 20px;
    margin-top: 20px;
}

.team h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #432917;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    width: auto;
    background-color: #96623f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    padding: 10px;
}
.team article,
.team aside {
    margin-bottom: 30px;
}

.team h2 {
    color: #432917;
    margin-bottom: 10px;
}

.team p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.team figure {
    margin-bottom: 20px;
}

.team figure img {
    width: 100%;
    max-width: 420px;
    border-radius: 8px;
}

.center{
    text-align: center;
}

.team figcaption {
    font-size: 15px;
    position: relative;
    color: #432917;
    text-align: center;
}