
.training {
    padding: 15px;
    margin-top: 20px;
}

.training h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #432917;
}

.training-table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #432917;
}

.training-table caption {
    caption-side: top;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.training-table th,
.training-table td {
    padding: 10px;
    border: 3px solid #432917;
}

.training-table th {
    background-color: #432917;
    color: #a66a3f;
    text-align: left;
}

.training-table tbody tr:nth-child(even) {
    background-color: #a66a3f; 
}

.training-table tbody tr:nth-child(odd) {
    background-color: #a66a3f;
}

.training-table tbody tr:hover {
    background-color: #a66a3f;
}

.training-table td:first-child img {
    max-width: 130px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

caption {
    color: #432917;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 2;
    font-family: kanit;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

caption::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50px;
    border-bottom: 2px solid #a66a3f;
    margin-top: 10px;
}